{% extends 'base.html.twig' %}

{% block title %}Reservationevenement index{% endblock %}

{% block body %}
    <h1>Reservationevenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_event</th>
                <th>Id_user</th>
                <th>Date_reservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservationevenement in reservationevenements %}
            <tr>
                <td>{{ reservationevenement.id }}</td>
                <td>{{ reservationevenement.idEvent }}</td>
                <td>{{ reservationevenement.idUser }}</td>
                <td>{{ reservationevenement.dateReservation ? reservationevenement.dateReservation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reservationevenement_show', {'id': reservationevenement.id}) }}">show</a>
                    <a href="{{ path('reservationevenement_edit', {'id': reservationevenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservationevenement_new') }}">Create new</a>
{% endblock %}
