
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: center;
            padding: 8px;
        }
        mid {
            text-align: center;
            padding: 15px;

        }

        tr:nth-child(even){background-color: #f2f2f2}

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
<h1> Liste Promotion</h1>
<table class="table product-overview" id="myTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Idvol</th>
        <th>Idhotel</th>
        <th>Idtransport</th>
        <th>Date_d</th>
        <th>Date_f</th>
        <th>Prix</th>


    </tr>
    </thead>
    <tbody>

    {% for promotion in promotions %}
        <tr>

            <td>{{ promotion.id }}</td>
            <td>{{ promotion.idvol.id }}</td>
            <td>{{ promotion.Idhotel.id }}</td>
            <td>{{ promotion.Idtransport.id }}</td>
            <td>{{ promotion.getDateD() ? promotion.getDateD()|date('Y-m-d') : '' }}</td>
            <td>{{ promotion.getDateF()? promotion.getDateF()|date('Y-m-d') : '' }}</td>
            <td>{{ promotion.prix }}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">Pas de Promotion !</td>
        </tr>
    {% endfor %}

    </tbody>
</table>




</body>
</html>
