{% extends 'admin.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block content %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>id_event</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>{{ commentaire.id_event.id }}</td>
                <td>
                    <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}" class="btn btn-primary btn">Afficher</a>
                    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}" class="btn btn-primary btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_new') }}" class="btn btn-primary btn">Créer</a>
    <br>
    <br>

        <h3><i class="fa fa-angle-right"></i> Morris Charts</h3>
        <!-- page start-->
        <div id="morris">
            <div class="row mt">

<div class="col-lg-8">
    <div class="content-panel">
        <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
        <div class="panel-body">
            <div id="hero-bar" class="graph"></div>
        </div>
    </div>
</div>
            </div>
        </div>




{% endblock %}
{% block js %}
    {{ parent() }}

    <script>

        Morris.Bar({
            element: 'hero-bar',
            data: [
                {% for row in countTypes %}
                {
                    device: "idEvent "+"{{ row.type }}",
                    geekbench: "{{ row.nombre }}"
                },


                {% endfor %}
            ],
            xkey: 'device',
            ykeys: ['geekbench'],
            labels: ['Nombre Commenatire'],
            barRatio: 0.4,
            xLabelAngle: 0,
            hideHover: 'auto',
            barColors: ['#ac92ec']
        });

    </script>





{% endblock %}